MONGO_URI=mongodb+srv://masticartoon152_db_user:TestPass123@cluster0.qdpuxyi.mongodb.net/library_management?appName=Cluster0
PORT=5001
JWT_SECRET=change_this_to_a_long_random_secret_key
CLIENT_URL=http://localhost:5173
FINE_PER_DAY=5
LOAN_DAYS=14
